:root {
  line-height: 1.15;
}

form fieldset > * + *, form fieldset div > * + * {
  margin-top: .5rem;
}

tr.htmx-swapping {
  opacity: 0;
  transition: opacity .5s ease-out;
}

.htmx-indicator {
  opacity: 0;
}

.spinner {
  width: 1rem; 
  aspect-ratio: 1;
  display: grid;
  -webkit-mask: conic-gradient(from 15deg, #0003,#000);
          mask: conic-gradient(from 15deg, #0003,#000);
  animation: load 1s steps(12) infinite;
  color: var(--muted-fg);
}

.spinner,
.spinner:before,
.spinner:after{
  background:
    radial-gradient(closest-side at 50% 12.5%,currentColor 90%,#0000 98%) 
    50% 0/20% 80% repeat-y,
    radial-gradient(closest-side at 12.5% 50%,currentColor 90%,#0000 98%) 
    0 50%/80% 20% repeat-x;
}

.spinner:before,
.spinner:after{
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}

.spinner:after{
  transform: rotate(60deg);
}

.progress {
  height: .75rem;
  margin-bottom: 1rem;
  overflow: hidden;
  background-color: var(--muted);
  border: 1px solid var(--border);
  border-radius: calc(var(--border-radius) / 2);
  max-width: 28rem;
}

.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: .5rem;
  line-height: .75rem;
  color: var(--primary-fg);
  text-align: center;
  background-color: var(--primary);
  transition: width .6s ease;
}

@keyframes load {
  from {transform: rotate(0turn)}
  to   {transform: rotate(1turn)}
}
